// Spotify-inspired dark palette

$primary   : #1DB954;
$secondary : #1ED760;
$accent    : #535353;

$dark      : #181818;
$dark-page : #121212;

$positive  : #1DB954;
$negative  : #E22134;
$info      : #2E77D0;
$warning   : #F59B23;
