spring:
  main:
    keep-alive: true
  cache:
    type: caffeine
    caffeine:
      spec: expireAfterAccess=30m

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/naviseerr
    username: naviseerr
    password: password
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  logback:
    rollingpolicy:
      max-history: 14
      max-file-size: 100MB
      clean-history-on-start: true

clients:
  default:
    connect-timeout: 60s
    read-timeout: 60s

navidrome:
  url: "http://192.168.1.1:4533"
  admin-user: "admin"
  admin-pass: "admin_password"

lastfm:
  api-key: "your_lastfm_app_api_key"
  shared-secret: "your_lastfm_app_shared_secret"
  url: "http://ws.audioscrobbler.com/2.0"

listenbrainz:
  url: "https://api.listenbrainz.org/1"

lidarr:
  url: "http://192.168.1.1:8686"
  api-key: "your-api-key"

slskd:
  url: "http://192.168.1.3:5030"
  api-key: "your-api-key"
  download-dir: "/naviseerr-accessible/download-dir"